--find-links https://download.pytorch.org/whl/torch_stable.html
--find-links https://download.pytorch.org/whl/cpu/torch_stable.html
--find-links https://download.pytorch.org/whl/cu118/torch_stable.html
psycopg2-binary==2.9.9
SQLAlchemy==2.0.27
langchain==0.1.5
langchain-community==0.0.17
transformers==4.37.2
torch==2.2.2
sentence-transformers==2.2.2
python-dotenv==1.0.1
numpy==1.26.4
pandas==2.2.1
accelerate==0.27.2
huggingface-hub==0.21.4
chromadb==0.4.22
faker==24.4.0